html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -----------------
    MAIN CSS CONTENT           
   ----------------- */


html{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #0496ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1em;
    font-size: larger;
 
}

.main{
    text-align: center;
    background-color: white;
    border-radius: 1em 1em;
    padding: 1em;
    width: 50em;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em 5em ;
}

.panel{
    line-height: 3em;
    padding: center;
}
.panel:last-child{
    border-right: none;
    border-bottom: none;
    letter-spacing: 1px;
}
.image{
    width: 15em;
    height: 15em;
}

.first{
    color: #888;
    font-weight: 500;
    border-bottom: 0.8px solid rgb(197, 233, 245);
    font-size: large;
}
.second{
    color: #0496ff;
    border-bottom: 0.8px solid rgb(197, 233, 245);
}
.third{
    color: #0496ff;
    border-bottom: 0.8px solid rgb(197, 233, 245);
}
.fourth{
    color: #016ff9;
    font-weight:bolder;
    font-size: 1.7em;
    padding: 0.5em 0 ;
}

.button{
    background-color: white;
    border-radius: 0.5em;
    font-weight: 700;
    padding: 1.2em 0.7em ;
    border-color: none;
    border-width: 1px;
    margin-bottom: 0.8em;
    margin-left: none;
    transition: all 0.8s;
}
.button:hover{
    background-color: #0496ff;
    color: white;
    font-weight: 700;
    cursor: pointer;
    flex-direction: flex-start;
    flex-grow: 1;
    transition: 0.5s;
}

@media  (max-width: 900px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }
    .panel{
        font-size: large;
        border-right: none;
        margin-bottom: 2.5em ;
    }
    
}

@media (min-width: 700px){
    .panel{
        border-bottom: none;
        padding: 2em 3em ;
        font-size: small;
    }
}



